body {
  margin: 0;
  padding: 0;
}

.root {
  background-color: white;
  padding: 0; 
  min-height: 100vh;
  max-width: 100vw;
}

.info {
  background-color: black;

  padding: 30px;
  border: 0;

  display: flex;

  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: baseline;
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.info1{
  display: flex;
  justify-content: flex-start;
  padding-left: 0.6cm;
  padding-top: 0.6cm;
}

.name {
  color: white;
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  top: 1px;
  
}

.location {
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.info2{
  display: flex;
  justify-content: center;
  position: relative;
  left: 1.8cm;

}

.contactinfo {
  margin: 0;
 background-color: black;
 font-size: 1.4em;
 font-family: Arial, Helvetica, sans-serif;
 color: black;
 font-weight: bolder;

 padding-right: 0.6cm;
 padding-top: 0.6cm;

 display: flex;
 justify-content: flex-end;

}



.name2{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-size: 1em;
  color: white;


  display: flex;
  justify-content: flex-end;
  position: relative;
  top:6.7cm;
}


.title { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10000px;
  font-size: 7em;
  color: white;
  padding-top: 1cm;

  display: flex;
}

{/*}.bio{
  color: white;
  font-size: 30px;
  position: relative;
  left: 800px;
  top: -200px;
}*/}

.titlemain{
  color: green;
}

.picture{
  color: green;
  size-adjust: 100%;
  width: 35em;
  height: 20em;
  position: relative;
  left: 70px;
  top: -100px;

}

.arrow{
  
  position: relative;
  left: 770px;
  top: -670px;
  width: 5em;
  height: 5em;

}

.arrow-left-bottom{
  position: relative;
  width: 5em;
  height: 5em;
  top: -250px;
  left: 130px;

}