body {
  margin: 0;
  padding: 0;
}

.root {
  background-color:#F5F5DC;
  padding: 0; 
  min-height: 100vh;
}

.info {
  background-color: #F5F5DC;

  padding: 30px;
  border: 0;

  display: flex;

  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: baseline;
}

.name {
  color: black;
  margin: 0;
  position: relative;
  top: 1px;
  justify-self: flex-start;
}

.location {
  margin: 0;

}

.contactinfo {
  margin: 0;
 background-color: #F5F5DC;
 font-size: 1.4em;
 font-family: Arial, Helvetica, sans-serif;
 color: black;
 font-weight: bolder;
  justify-self: flex-end;
}

.name2{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-size: 1em;
  color: black;

  position: relative;
  top: 200px;
  left: 760px;
 


}


.title { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10000px;
  font-size: 7em;
  color: black;
}

.titlemain{
  color: green;
}

.picture{
  color: green;

}